%h1
  A Proof of Concept for the Hackerati
%h2
  The Assignment
%p
  Build a system to collect data that is generated on an interval (once a minute/hour/day/etc. Store in a database; record time and data value. 

  Build a web app that displays a graph of the collected data with a choice of intervals (per min, per hour, per day, etc.). Add a table report of the data with column headings. The table should be placed below the graph. 
%h2
  The Intel
%p
  Created as part of my application to work as a 
  %a{href: "http://www.thehackerati.com"}<
    hackeratus 
  in NYC. Built in free time over winter break 2013.
  %p
    The source and technical details can be found on 
    %a{href: "https://github.com/xavdidtheshadow/stackpro"}
      github
    in both the readme and the source.
  %p
    This site is in no way owned, related, or endorsed by stack overflow. Data is provided as is and with no warranty as to its absolute accuracy. Do not use in life or death situations.
