%h1
  stack<b>pro</b>

%h2
  When do the most questions go unanswered on
  %a{href: "http://stackoverflow.com"}<
    stackoverflow?

%ul
  %li
    Questions Asked:
  %li
    .box#total
  %li
    Questions Unanswered:
  %li
    .box#subset
%ul
  %li
    Select an 
    %b
      interval:
  %li.interval.first#1
    Every 1 hour for the past 24
  %li.spacer
    |
  %li.interval#2
    Every 2 hours for the past 48
  %li.spacer
    |
  %li.interval#3
    Every 3 hours for the past 48
  %li.spacer
    |
  %li.interval#4
    Every 4 hours for the past 48

/ default size is required, will get resized by js
%canvas{:id => "theChart", :width => 1200, :height => 600}

%table#theTable
  %thead
    %tr
      %td
        Hours Ago
      %td
        Timestamp
      %td
        Average Unanswered
      %td
        Questions Asked
      %td
        Questions Answered
  %tbody

:javascript
  // set data from rails
  var dates = #{@dates};
  var asked = #{@asked};
  var unanswered = #{@unanswered};
  var percentage = #{@percentage};
