%h1
  hello!

%canvas{:id => "myChart", :width => 400, :height => 400}

.butt


:javascript
  function build(d){
    new Chart(ctx).Bar(d,{});
  }

  var ctx = document.getElementById("myChart").getContext("2d");
  var data = {
    labels : ["January","February","March","April","May","June","July"],
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,1)",
        data : [65,59,90,81,56,55,40]
      },
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        data : [28,48,40,19,96,27,100]
      }
    ]
  }

  build(data);

  //all of the ruby stuff is included at load. might get too big, might not.
  //the web is scary, can probably have huge data included? may hurt
  //runtime. idk.

  $(".butt").click(function(){
    data.labels[0] = "#{@answer}";
    build(data);
  });
