* {
    font-family: Sans-Serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    padding-left: 30px;
}

h2 {
    font-weight: normal;
    padding-left: 30px;
}

a:visited {
    color: blue;
}

.box {
    height: 13px; 
    width: 13px;
    background-color: #000;
    clear: both;
    outline: 1px solid black;
    margin-right: 50px;
}

#total {
    background-color: #1145ff;
}

#subset {
    background-color: #97bbcd;
}

li {
    display: inline-block;
}

.first {
    padding-left: 10px;
}

.interval {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.interval:hover {
    color: blue;
    cursor: default;
}

.spacer {
    padding-right: 20px;
    padding-left: 20px;
    cursor: default;
}

#theTable{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 35%;
    padding-left: 30px;
}


