* {
    font-family: Sans-Serif;
    
}

// body {
//     background-color: #bdbdbd;
// }

h1 {
    // color: purple;
}

.box {
    height: 20px; 
    width: 20px;
    background-color: #000;
    // margin: 5px;
    clear: both;
    outline: 1px solid black;
    margin-right: 50px;
}

#total {
    background-color: #1145ff;
}

#subset {
    background-color: #97bbcd;
}

li {
    display: inline-block;
}